html {
	background-color: #444;
	color: #333;
}

body {
	font-family: helvetica, arial, sans-serif;
	line-height: 1.1;
	font-size: 14px;
	width: 960px;
	margin: 20px 0px 40px -490px;
	float: left;
	background-color: #fff;
	padding: 15px;
	position: relative;
	left: 50%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px #333;
}

h1,h2,h3 {
	text-shadow: #AAA 1px 1px 1px;
	border-bottom: 1px solid #ddd;
	padding: 0;
	line-height: .7;
	padding: 15px 0 4px;
	margin-bottom: 5px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
    padding-top: 5px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

p {
	padding:5px 0px;
}

a {
    color: rgb(103,137,210);
}

a:hover {
    color: rgba(143,177,240, .8);
}

/* this is for code boxes */
div.highlight {
    padding: 15px 20px;
    margin: 10px;
    background-color: #DDD;
    background-color: rgba(163,207,255, .8);
    border: 1px solid #AAA;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

code {
    font-family: "Courier New", Courier, monospace
}